
* {
    box-sizing: border-box;
}

#titulo {
    background-color: #1f1f27;
}

#titulo h1 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 10px;
   
}

.container {
    width: 100%;
    padding: 0;

}

.navbar {
    border-bottom: 1px solid #3c3c3d;
}

#navbarSupportedContent .navbar-nav li {
    margin: 0px 60px;
}

.table {
    margin-top: 100px;
}



.sticky-bottom .btn {
    margin: 5px;
}

